.main-content{
    height: 370vh;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
}
.col1{
    /* background-color: blue; */
    height: 700px;
    width:34%;
    float: left;

}
.col2{
    /* background-color: blueviolet; */
    height: 700px;
    float: left;
    width:64%;
}
.sticky {
    position: sticky;
    top: 5px;
}
.overview{
    background-color: #ADD8E6;
    text-underline-position: below;
    color: black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 20px;
    margin-left:150px;
    
    /* position: fixed; */
    /* overflow:hidden ; */
    }

    .new-container{
        height: 800px;
        width: 100%;
        background-color: brown;
    }

